<h1 class="headline">Über uns</h1>
<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Technik, die verbindet - Wer wir sind?</h2>
    <p class="lead">
      Willkommen bei iFix, deinem vertrauenswürdigen Partner für alle technischen Bedürfnisse. Wir sind ein engagiertes Team von Technikern und Technikliebhabern, die sich darauf spezialisiert haben, Smartphones, Tablets, Laptops, Smartwatches und andere elektronische Geräte zu reparieren. Unser Ziel ist es, die Lebensdauer deiner Geräte zu verlängern und dir zu helfen, das Beste aus deiner Technologie herauszuholen.
    </p>
  </div>
  <div class="col-md-5">
    <img src="../../assets/repair.jpeg" alt="Techniker bei der Arbeit" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Qualität, der du vertrauen kannst - Warum wir?</h2>
    <p class="lead">
      Bei uns erhältst du nicht nur schnellen und zuverlässigen Reparatur-Service, sondern auch das Vertrauen und die Sicherheit, die du verdienst. Wir bieten eine 12-monatige Garantie auf alle unsere Reparaturen und bis zu 5 Jahre Garantie auf unser sorgfältig ausgewähltes Zubehör. Unsere Produkte und Dienstleistungen stehen für höchste Qualität und Langlebigkeit, damit du immer bestens ausgestattet bist.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <img src="../../assets/garantie.jpeg" alt="Techniker bei der Arbeit" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Nachhaltigkeit durch Innovation - Unser Beitrag zum Umweltschutz</h2>
    <p class="lead">
      Durch unsere Reparaturdienste leisten wir einen wichtigen Beitrag zum Umweltschutz. Indem wir die Lebensdauer deiner Geräte verlängern, reduzieren wir Elektroschrott und schonen wertvolle Ressourcen. Unser Engagement für Nachhaltigkeit spiegelt sich auch in unserem Zubehör wider – viele unserer Produkte sind sorgfältig ausgewählt und von höchster Qualität. Gemeinsam mit dir setzen wir uns dafür ein, die Umwelt zu schützen und eine grünere Zukunft zu gestalten.
    </p>
  </div>
  <div class="col-md-5">
    <img src="../../assets/umweltschutz.jpeg" alt="Techniker bei der Arbeit" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
  </div>
</div>

<hr class="featurette-divider">