<section class="contact-section">
  <div class="container d-flex justify-content-center">
    <div class="row w-100">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h2>Kontaktieren Sie uns</h2>
        <p>Für jegliche Fragen, Reparaturanfragen oder Unterstützung stehen wir Ihnen zur Verfügung. Besuchen Sie uns persönlich, rufen Sie uns an oder senden Sie uns eine E-Mail. Unser erfahrenes Team steht bereit, um Ihnen zu helfen.</p>
        
        <form class="position-relative">
          <p>Kontaktieren Sie uns direkt über WhatsApp:</p>
          <a href="https://wa.me/491234567890?text=Hallo%2C%20ich%20habe%20eine%20Frage" class="btn btn-success">
            &#xF618; Jetzt auf WhatsApp chatten
          </a>
          <div class="form-overlay">
            <span>Bald verfügbar...</span>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Ihr Name" required disabled>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">E-Mail-Adresse</label>
            <input type="email" class="form-control" id="email" placeholder="Ihre E-Mail-Adresse" required disabled>
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Nachricht</label>
            <textarea class="form-control" id="message" rows="5" placeholder="Ihre Nachricht" required disabled></textarea>
          </div>
          <button type="submit" class="btn btn-primary" disabled>Nachricht senden</button>
        </form>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <!-- Hier könnte eine interaktive Karte angezeigt werden -->
        <h2>Unsere Adresse</h2>
        <p>Ingolstädterstr. 16<br>Pfaffenhofen an der Ilm, 85276<br>Deutschland</p>
        <h2>Öffnungszeiten</h2>
        <p>Montag - Samstag: 9:00 - 20:00 Uhr<br>Sonntag: Geschlossen</p>
        <h2>Kontaktinformationen</h2>
        <p><strong>Telefon:</strong>+49 123 456789<br><strong>E-Mail:</strong> info&#64;ifix.com</p>
        <h2>Folgen Sie uns</h2>
        <a class="btn btn-outline-primary me-2">Facebook</a>
        <a class="btn btn-outline-primary me-2">Twitter</a>
        <a class="btn btn-outline-primary me-2">Instagram</a>
      </div>
    </div>
  </div>
</section>
